/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* reset ends here */

/* START MEMOBOARD */

/* END MEMOBOARD */


/* START IPHONE 12/13 PRO MAX (428x926) */

.body-container {
    display: flex;
    flex-wrap: wrap;
}

/* ASIDE STUFF */
aside {
    height: 90vh;
    width: 10%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-icon-top {
    border: 1px solid lightsalmon;
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.aside-icon-bottom {
    border: 1px solid lightsalmon;
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: end;
}

.aside-icon {
    /* border: 1px dotted white; */
    width: 33px;
    height: 33px;
    margin: 20%;
}

#spotify-logo-small {
    background-image: url("../img/logo-small.svg");
    background-size: cover;
}

#home-logo {
    background-image: url("../img/home.svg");
    background-size: cover;
}

#search-logo {
    background-image: url("../img/search.svg");
    background-size: cover;
}

#library-logo {
    background-image: url("../img/libreria.svg");
    background-size: cover;
}

#downloads-logo {
    background-image: url("../img/download.svg");
    background-size: cover;
    width: 15px;
    height: 15px;
    align-self: center;
}

#user-logo {
    background-image: url("../img/profile.svg");
    background-size: cover;
}

.aside-icon#user-logo {
    background-color: grey;
    border-radius: 50%;
}

/* MAIN STUFF */
main {
    height: 90vh;
    width: 90%;
    background-color: #141922;
    display: flex;
    overflow-y: scroll;
    flex-flow: row wrap;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: end;
    align-items: center;
}

button.upgrade {
    margin: 8% 1%;
    background-color: #080b12;
    padding: 1em 3em;
    border-radius: 25px;
    text-transform: uppercase;
}

.genres-nav {
    width: 100%;
}

.genres-nav > ul {
    width: 100%;
    border: 1px dashed white;
    background-color: #141922;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.genres-nav > ul > li {
    list-style: none;
    border: 1px solid orange;
    display: inline;
    margin: 2% 1%;
    flex-basis: 20%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
    color: #76787d;
}

.recently-played-container,
.created-for-container,
.popular-artists-container {
    /* height: 90vh; */
    width: 100%;
    border: 1px dotted wheat;
    margin: 2% 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    background-color: #141922;
}

h1 {
    /* margin: 2% 1%; */
    background-color: #141922;
    width: 100%;
    font-size: 1.5em;
}

.card {
    border: 1px dashed indigo;
    display: flex;
    flex-direction: column;
    /* flex-basis: 50%; */
    margin: 2% 0;
    /* margin: 1.5vh 1.5vw; */
}

.card-title, 
.card-subtitle {
    display: inline;
    border: 1px solid mediumaquamarine;
    text-align: center;
    width: 170px;
}

.card-title {
    font-size: 1.2em;
    font-weight: 800;
}

.card-subtitle {
    color: #797b80;
}

.card-image {
    height: 170px;
    width: 170px;
    border: 1px solid red;
    /* background-image: url("http://placekitten.com/300/300"); */
    /* background-size: cover; */
}

.card-image > img {
    height: 170px;
    width: 170px;
}

.round {
    border-radius: 50%;
}


/* FOOTER STUFF */
footer {
    background-color: darkslategray;
}

.footer-container {
    height: 10vh;
    width: 100vw;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
}

.footer-nav-left,
.footer-nav-center,
.footer-nav-right {
    border: 1px dashed mediumseagreen;
    flex-basis: 30%;
    display: flex;
}

.footer-nav-left {
    justify-content: space-around;
}

.footer-nav-center,
.footer-nav-right {
    flex-direction: column;
    justify-content: space-around;
}

.currently-playing-img,
.currently-playing-info,
.currently-playing-actions {
    border: 1px solid darkorange;
    margin: 15% 0;
}

.currently-playing-img {
    width: 30%;
}

.currently-playing-info {
    width: 50%;
}

.currently-playing-actions {
    width: 20%;
}

.player-options,
.progress-bar {
    border: 1px solid darkorange;
    height: 40%;
}

.volume-bar {
    border: 1px solid darkorange;
    height: 30%;
}


    

    


/* END IPHONE 12/13 PRO MAX (428x926) */