/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

/* START MEMOBOARD */

/* END MEMOBOARD */


/* START IPHONE 12/13 PRO MAX (428x926) */

@media screen and (max-width: 428px) {
    .body-container {
        display: flex;
        flex-wrap: wrap;
    }

    aside {
        height: 90vh;
        width: 10%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* flex-wrap: wrap; */
        /* align-items: center; */
    }

    .aside-icon-top {
        border: 1px solid lightsalmon;
        width: 100%;
        height: 40%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    .aside-icon-bottom {
        border: 1px solid lightsalmon;
        width: 100%;
        height: 40%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        justify-content: end;
    }

    .aside-icon {
        border: 1px dotted white;
        width: 80%;
        height: 10%;
        margin: 20%;
    }

    main {
        height: 90vh;
        width: 90%;
        background-color: royalblue;
        align-self: flex-end;
        display: flex;
    }

    header {
        height: 10vh;
        width: 100%;
        background-color: blueviolet;
        display: flex;
        /* flex-direction: column; */
        justify-content: end;
    }

    button.upgrade {
        margin: 8% 1%;
    }

    footer {
        height: 10vh;
        width: 100vw;
        background-color: darkslategray;
        bottom: 0;
    }
}


/* END IPHONE 12/13 PRO MAX (428x926) */